version: '2.4'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - BrainBlitz-mysql
      - BrainBlitz-redis
      - BrainBlitz-mongodb
      - kafka
    environment:
      - BrainBlitz_HTTP_PORT=8000
      - BrainBlitz_MYSQL_HOST=BrainBlitz-mysql
      - BrainBlitz_MYSQL_PORT=3306
      - BrainBlitz_MYSQL_USER=bbGame
      - BrainBlitz_MYSQL_PASSOWRD=root
      - BrainBlitz_MYSQL_NAME=brainBlitz_db
      - BrainBlitz_MYSQL_RETRY=4s
      - BrainBlitz_MONGO_HOST=BrainBlitz-mongodb
      - BrainBlitz_MONGO_PORT=27017
      - BrainBlitz_REDIS_HOST=BrainBlitz-redis
      - BrainBlitz_KAFKA_HOST=kafka

  BrainBlitz-redis:
    image: bitnami/redis:6.2
    container_name: BrainBlitz-redis
    restart: always
    ports:
      - '6380:6379'
    command: redis-server --loglevel warning --protected-mode no --save "" --appendonly no
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - ENABLE_OVERCOMMIT_MEMORY=yes
    volumes:
      - BrainBlitz-redis-data:/data
  BrainBlitz-mongodb:
    image: mongo:7.0
    ports:
     - "27018:27017"
    container_name: BrainBlitz-mongo
    volumes:
      - BrainBlitz-mongo:/data
    restart: always
    environment:
      MONGO_INITDB_DATABASE: BrainBlitz
  BrainBlitz-mysql:
    image: mysql:8.0
    ports:
      - "3310:3306"
    container_name: BrainBlitz-mysql
    restart: always
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: brainBlitz_db
      MYSQL_USER: bbGame
      MYSQL_PASSWORD: root
  kafka:
    image: 'bitnami/kafka:3.7.1'
    ports:
      - '9092:9092'
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_ADVERTISED_HOST_NAME=kafka
volumes:
  dbdata:
  BrainBlitz-mongo:
  BrainBlitz-redis-data:
  prometheus_data: { }
  grafana_data: { }